.featured {
  height: 250px;
}

img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
