<carousel>
  <slide>
    <img
      src="assets/images/Medicore/banner1.jpg"
      alt="first slide"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/Medicore/banner2.jpg"
      alt="first slide"
      class="img-fluid"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/Medicore/banner3.jpg"
      alt="first slide"
      class="img-fluid"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/Medicore/banner4.jpg"
      alt="first slide"
      class="img-fluid"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>
<div class="container mt-3 p-2" style="background: whitesmoke;">
  <div class="row">
    <div class="col-5">
      <img
        src="assets/images/Medicore/cutie masti.jpg"
        class="img-fluid"
        style="max-height: 400px;"
      />
      <div class="top-left m-3">
        <h3>Produs HOT</h3>
        <p class="pl-2">Masti de protectie</p>
      </div>
    </div>
    <div class="col-3 ml-4">
      <div class="row mb-3">
        <h4>Fa cumparaturi in siguranta</h4>
      </div>
      <div class="row">
        <img
          src="assets/images/Medicore/confidence.jpg"
          class="img-fluid"
          style="max-height: 300px;"
        />
      </div>
    </div>
    <div class="col-3 ml-5">
      <div class="row mb-3">
        <h4>Ne protejam pe noi si pe voi!</h4>
      </div>
      <div class="row">
        <img
          src="assets/images/Medicore/keepsafe.jpg"
          class="img-fluid"
          style="max-height: 300px;"
        />
      </div>
    </div>
  </div>
  <div class="row mt-3 p-2" style="background: white;">
    <h5 class="ml-2">Recomandate pentru tine</h5>
    <div class="scrollmenu">
      <img
        src="assets/images/Medicore/suplimente.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment1.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment2.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment3.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment4.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment5.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment6.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/supliment7.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row mt-3 p-2" style="background: white;">
    <h5 class="ml-2">Produse cautate de alti clienti</h5>
    <div class="scrollmenu">
      <img
        src="assets/images/Medicore/cautate.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate1.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate2.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate3.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate4.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate5.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate6.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/cautate7.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row mt-4 p-2">
    <h5 class="ml-2">Necesare zi de zi</h5>
  </div>
  <div class="row mt-2 pl-2" style="background: white;">
    <div class="col-3 p-4" style="background: #c1cdcd;">
      <a href="#" class="text-decoration-none" style="color: black;"
        >Deterget rufe</a
      >
      <br />
      <a href="#" class="text-decoration-none mt-2" style="color: black;"
        >Sampon de par</a
      >
      <br />
      <a href="#" class="text-decoration-none mt-2" style="color: black;"
        >Geluri de dus</a
      >
      <br />
      <a href="#" class="text-decoration-none mt-2" style="color: black;"
        >Scutece si chilotei</a
      >
      <br />
      <a href="#" class="text-decoration-none mt-2" style="color: black;"
        >Lapte praf bebelusi</a
      >
    </div>
    <div class="col-3 p-4">
      <a href="" style="color: black;">Ariel</a>
      <hr />
      <a href="" style="color: black;">Gillette</a>
      <hr />
      <a href="" style="color: black;">Pampers</a>
      <hr />
      <a href="" style="color: black;">Maybelline</a>
      <hr />
      <a href="" style="color: black;">Head&Shoulders</a>
      <hr />
      <a href="" style="color: black;">Nestle</a>
      <hr />
      <a href="" style="color: black;">Pedigree</a>
    </div>
    <div class="col-6">
      <a href=""
        ><img
          src="assets/images/Medicore/necesare.jpg"
          class="img-fluid"
          style="max-height: 414px;"
          alt=""
      /></a>
    </div>
  </div>
  <div class="row mt-3 p-2" style="background: white;">
    <h5 class="ml-2">Cele mai cautate produse de infrumusetare</h5>
    <div class="scrollmenu">
      <img
        src="assets/images/Medicore/infrum.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum4.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum2.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum3.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum1.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum5.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum6.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
      <img
        src="assets/images/Medicore/infrum7.jpg"
        alt=""
        style="max-height: 200px; max-width: 250px;"
        class="img-fluid"
      />
    </div>
  </div>
</div>
